////////// 変数
$h-color-green: rgb(74, 174, 53);
$h-color-blue: rgb(0, 156, 211);
$h-color-yellow: rgb(251, 195, 0);
$h-color-gray-1: rgb(201, 201, 201);
$h-color-gray-2: rgb(230, 230, 230);
$h-color-red: rgb(230, 0, 39);
$wrapper-color: rgb(255, 255, 255);
$balloon-color: rgb(127, 127, 127);
$under-box-color: rgb(127, 127, 127);
// フォントサイズ系
$default-font-size: 12px;
$font-size-large: 32pt;
$font-size-mid: 16pt;
$font-size-balloon: 16px;
// パネル
$panel-width: 100px;
$panel-col-count: 10;
$panel-height: 35px;
$panel-row-count: 15;
$col-gap-size: 5px;
$row-gap-size: 5px;
$pad: 10px;
$button-border: 2px;
// アニメ
$yure: 2px;
////////// 変数

////////// mixIn
// パネルの基底
@mixin __panel__($startRow: 1, $rowCount: 1, $startCol: 1, $colCount: 1, $bgColor: white) {
  grid-row: $startRow / span $rowCount;
  grid-column: $startCol / span $colCount;
  background-color: $bgColor;
  border-radius: 10px 10px 10px 10px;
  padding: $pad;
}

// ページのヘッダ用
@mixin page-header($startRow: 1, $rowCount: 1, $startCol: 1, $colCount: 1, $bgColor: "", $bgImgPath: "") {
  @include __panel__($startRow, $rowCount, $startCol, $colCount, $bgColor);
  @include centering();
  font-size: $font-size-large;
  // color: white;
}

// コンテンツのボディ用
@mixin content-body($startRow: 1, $rowCount: 1, $startCol: 1, $colCount: 1, $bgColor: $h-color-gray-2) {
  @include __panel__($startRow, $rowCount, $startCol, $colCount, $bgColor);
  // color: white;
}

// 上下中央寄せ
@mixin centering() {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

// 袋文字
@mixin fukuromoji($fillColor: white, $strokeColor: white) {
  font-size: $font-size-large;
  fill: $fillColor;
  stroke: $strokeColor;
  stroke-width: 2;
  stroke-linejoin: round;
}

// ボタン基底
@mixin action-button($width: 100px, $height: 100px, $background: white, $bprder: black, $type: none) {
  @include centering();
  font-size: $font-size-mid;
  color: white;
  background: $background;
  width: $width - $pad * 2 - $button-border * 4;
  height: $height - $pad * 2 - $button-border * 4;
  overflow: hidden;
  border: 2px black dotted;
  box-shadow: 0 0 0 $button-border $background, 0 1px 3px $button-border rgba(0, 0, 0, 0.5);
  @if $type == "circle" {
    border-radius: 50%;
  }
  & img {
    height: 64px;
  }
  &:hover {
    filter: brightness(125%);
  }
  &:hover img {
    animation: hurueru 0.1s infinite;
  }
}

////////// mixIn

////////// 要素
body {
  font-size: $default-font-size;
  font-family: "メイリオ";
  overflow-wrap: break-word;
  background-image: url("../img/irasutoya/mono.png");
  background-position: center;
  background-repeat: no-repeat;
}

svg {
  display: inline-block;
  width: 250px;
  height: auto;
  overflow: visible;
}

ul {
  margin: 0;
  padding-inline-start: 20px;
  list-style-image: url("../img/irasutoya/computer_jinkou_chinou_li.png");
}

a {
  color: white;
  text-decoration: none;
}

////////// 要素

////////// 本体
// 外側
.wrapper {
  width: $panel_width * $panel-col-count + ($col-gap-size * ($panel-col-count - 1));
  height: $panel_height * $panel-row-count + ($row-gap-size * ($panel-row-count - 1));
  margin: 0 auto;
  padding: 0.3em;
  display: grid;
  // background-color: $wrapper_color;
  column-gap: $col-gap-size;
  row-gap: $row-gap-size;
  grid-template-columns: repeat($panel-col-count, $panel_width);
  grid-template-rows: repeat($panel-row-count, $panel_height);
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
}

// 起動アイコン
.launch_icon {
  $_width: 200px;
  $_height: 200px;
  $_background: $h-color-red;
  $_type: circle;
  @include action-button($width: $_width, $height: $_height, $background: $_background, $type: $_type);
  @include centering();
}

// グリッド部分
@supports (display: grid) {
  // タイトル
  .header {
    $_startRow: 1;
    $_rowCount: 1;
    $_startCol: 1;
    $_colCount: 3;
    @include page-header($startRow: $_startRow, $rowCount: $_rowCount, $startCol: $_startCol, $colCount: $_colCount);
  }

  // 起動ボタン
  .launch {
    $_startRow: 6;
    $_rowCount: 5;
    $_startCol: 8;
    $_colCount: 3;
    @include content-body($startRow: $_startRow, $rowCount: $_rowCount, $startCol: $_startCol, $colCount: $_colCount, $bgColor: none);
    @include centering();
  }

  // 機能ヘッダ
  .function {
    $_startRow: 11;
    $_rowCount: 1;
    $_startCol: 8;
    $_colCount: 3;
    @include content-body($startRow: $_startRow, $rowCount: $_rowCount, $startCol: $_startCol, $colCount: $_colCount);

    $_width: $panel-width * $_colCount;
    $_height: $panel-height * $_rowCount;
    $_background: $h-color-red;
    $_type: box;
    @include action-button($width: $_width, $height: $_height, $background: $_background, $type: $_type);
  }

  // メッセージ
  .messages {
    $_startRow: 12;
    $_rowCount: 4;
    $_startCol: 1;
    $_colCount: 5;
    @include content-body($startRow: $_startRow, $rowCount: $_rowCount, $startCol: $_startCol, $colCount: $_colCount);
  }

  // お知らせ
  .notice {
    $_startRow: 10;
    $_rowCount: 2;
    $_startCol: 1;
    $_colCount: 2;
    @include content-body($startRow: $_startRow, $rowCount: $_rowCount, $startCol: $_startCol, $colCount: $_colCount);

    $_width: $panel-width * $_colCount;
    $_height: $panel-height * $_rowCount;
    $_background: $h-color-red;
    $_type: box;
    @include action-button($width: $_width, $height: $_height, $background: $_background, $type: $_type);
  }

  // 注意事項
  .caution {
    $_startRow: 10;
    $_rowCount: 2;
    $_startCol: 3;
    $_colCount: 2;
    @include content-body($startRow: $_startRow, $rowCount: $_rowCount, $startCol: $_startCol, $colCount: $_colCount);

    $_width: $panel-width * $_colCount;
    $_height: $panel-height * $_rowCount;
    $_background: $h-color-red;
    $_type: box;
    @include action-button($width: $_width, $height: $_height, $background: $_background, $type: $_type);
  }

  // お問合せアイコン
  .footer-icon {
    $_startRow: 14;
    $_rowCount: 2;
    $_startCol: 7;
    $_colCount: 1;
    @include content-body($startRow: $_startRow, $rowCount: $_rowCount, $startCol: $_startCol, $colCount: $_colCount);
    @include centering();
  }

  // お問合せ
  .footer {
    $_startRow: 14;
    $_rowCount: 2;
    $_startCol: 8;
    $_colCount: 3;
    @include content-body($startRow: $_startRow, $rowCount: $_rowCount, $startCol: $_startCol, $colCount: $_colCount);
  }
}
////////// 本体

////////// omake
// ぶるぶる
@keyframes hurueru {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    transform: translate($yure, $yure) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, $yure) rotateZ(0deg);
  }
  75% {
    transform: translate($yure, 0px) rotateZ(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}

////////// omake
