.wrapper {
  width: 1000px;
  height: 550px;
  margin: 0 auto;
  padding: 5px;
  display: grid;
  background-color: gray;
  /* grid関連 */
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 15% 35% 35% 10%;
  justify-content: center;
}

@supports (display: grid) {
  .grid-item {
    width: auto;
    min-height: 0;
    display: inline-block;
    /*画像はコンテナいっぱいに*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    background-color: tomato;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }
  .tech {
    background-image: url("../img/dog_min.png");
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
    margin-bottom: -50px;
  }
  .life {
    background-image: url("../img/dog_min.png");
    clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .main {
    background-color: yellowgreen;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }
  .notice {
    background-color: violet;
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
  }
  .footer {
    background-color: turquoise;
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
  }
}