@charset "UTF-8";
body {
  font-size: 12px;
  font-family: "メイリオ";
  overflow-wrap: break-word;
  background-image: url("../img/irasutoya/mono.png");
  background-position: center;
  background-repeat: no-repeat;
}

svg {
  display: inline-block;
  width: 250px;
  height: auto;
  overflow: visible;
}

ul {
  margin: 0;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  list-style-image: url("../img/irasutoya/computer_jinkou_chinou_li.png");
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
  width: 1045px;
  height: 595px;
  margin: 0 auto;
  padding: 0.3em;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 5px;
  -ms-grid-columns: (100px)[10];
      grid-template-columns: repeat(10, 100px);
  -ms-grid-rows: (35px)[15];
      grid-template-rows: repeat(15, 35px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px 10px 10px 10px;
}

.launch_icon {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16pt;
  color: white;
  background: #e60027;
  width: 172px;
  height: 172px;
  overflow: hidden;
  border: 2px black dotted;
  -webkit-box-shadow: 0 0 0 2px #e60027, 0 1px 3px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 2px #e60027, 0 1px 3px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.launch_icon img {
  height: 64px;
}

.launch_icon:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.launch_icon:hover img {
  -webkit-animation: hurueru 0.1s infinite;
          animation: hurueru 0.1s infinite;
}

@supports (display: grid) {
  .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
    background-color: "";
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 32pt;
  }
  .launch {
    -ms-grid-row: 6;
    -ms-grid-row-span: 5;
    grid-row: 6/span 5;
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/span 3;
    background-color: none;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .function {
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: 11/span 1;
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/span 3;
    background-color: #e6e6e6;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16pt;
    color: white;
    background: #e60027;
    width: 272px;
    height: 7px;
    overflow: hidden;
    border: 2px black dotted;
    -webkit-box-shadow: 0 0 0 2px #e60027, 0 1px 3px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 2px #e60027, 0 1px 3px 2px rgba(0, 0, 0, 0.5);
  }
  .function img {
    height: 64px;
  }
  .function:hover {
    -webkit-filter: brightness(125%);
            filter: brightness(125%);
  }
  .function:hover img {
    -webkit-animation: hurueru 0.1s infinite;
            animation: hurueru 0.1s infinite;
  }
  .messages {
    -ms-grid-row: 12;
    -ms-grid-row-span: 4;
    grid-row: 12/span 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/span 5;
    background-color: #e6e6e6;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
  }
  .notice {
    -ms-grid-row: 10;
    -ms-grid-row-span: 2;
    grid-row: 10/span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
    background-color: #e6e6e6;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16pt;
    color: white;
    background: #e60027;
    width: 172px;
    height: 42px;
    overflow: hidden;
    border: 2px black dotted;
    -webkit-box-shadow: 0 0 0 2px #e60027, 0 1px 3px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 2px #e60027, 0 1px 3px 2px rgba(0, 0, 0, 0.5);
  }
  .notice img {
    height: 64px;
  }
  .notice:hover {
    -webkit-filter: brightness(125%);
            filter: brightness(125%);
  }
  .notice:hover img {
    -webkit-animation: hurueru 0.1s infinite;
            animation: hurueru 0.1s infinite;
  }
  .caution {
    -ms-grid-row: 10;
    -ms-grid-row-span: 2;
    grid-row: 10/span 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/span 2;
    background-color: #e6e6e6;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16pt;
    color: white;
    background: #e60027;
    width: 172px;
    height: 42px;
    overflow: hidden;
    border: 2px black dotted;
    -webkit-box-shadow: 0 0 0 2px #e60027, 0 1px 3px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 2px #e60027, 0 1px 3px 2px rgba(0, 0, 0, 0.5);
  }
  .caution img {
    height: 64px;
  }
  .caution:hover {
    -webkit-filter: brightness(125%);
            filter: brightness(125%);
  }
  .caution:hover img {
    -webkit-animation: hurueru 0.1s infinite;
            animation: hurueru 0.1s infinite;
  }
  .footer-icon {
    -ms-grid-row: 14;
    -ms-grid-row-span: 2;
    grid-row: 14/span 2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-column: 7/span 1;
    background-color: #e6e6e6;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    -ms-grid-row: 14;
    -ms-grid-row-span: 2;
    grid-row: 14/span 2;
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/span 3;
    background-color: #e6e6e6;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
  }
}

@-webkit-keyframes hurueru {
  0% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
            transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    -webkit-transform: translate(2px, 2px) rotateZ(1deg);
            transform: translate(2px, 2px) rotateZ(1deg);
  }
  50% {
    -webkit-transform: translate(0px, 2px) rotateZ(0deg);
            transform: translate(0px, 2px) rotateZ(0deg);
  }
  75% {
    -webkit-transform: translate(2px, 0px) rotateZ(-1deg);
            transform: translate(2px, 0px) rotateZ(-1deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
            transform: translate(0px, 0px) rotateZ(0deg);
  }
}

@keyframes hurueru {
  0% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
            transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    -webkit-transform: translate(2px, 2px) rotateZ(1deg);
            transform: translate(2px, 2px) rotateZ(1deg);
  }
  50% {
    -webkit-transform: translate(0px, 2px) rotateZ(0deg);
            transform: translate(0px, 2px) rotateZ(0deg);
  }
  75% {
    -webkit-transform: translate(2px, 0px) rotateZ(-1deg);
            transform: translate(2px, 0px) rotateZ(-1deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
            transform: translate(0px, 0px) rotateZ(0deg);
  }
}
