////////// 変数
$h-color-green: #4aae35;
$h-color-blue: #009cd3;
$h-color-yellow: #fbc300;
$h-color-gray-1: #c9c9c9;
$h-color-gray-2: #e6e6e6;
$wrapper-color: white;
$balloon-color: #7f7f7f;
$under-box-color: #7f7f7f;
// フォントサイズ系
$default-font-size: 12px;
$font-size-large: 32pt;
$font-size-mid: 16pt;
$font-size-box-header: 18px;
// パネル
$panel-width: 100px;
$panel-col-count: 10;
$panel-height: 35px;
$panel-row-count: 15;
$col-gap-size: 5px;
$row-gap-size: 5px;
////////// 変数

////////// mixIn
// パネルの基底
@mixin __panel__($startRow: 1, $rowCount: 1, $startCol: 1, $colCount: 1, $bgColor: white) {
  grid-row: $startRow / span $rowCount;
  grid-column: $startCol / span $colCount;
  background-color: $bgColor;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
}

// 背景画像
@mixin panel-back-ground($bgImgPath: "", $bgSize: contain) {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $bgSize;
  background-image: url($bgImgPath);
}

// ページのヘッダ用
@mixin page-header($startRow: 1, $rowCount: 1, $startCol: 1, $colCount: 1, $bgColor: "", $bgImgPath: "") {
  @include __panel__($startRow, $rowCount, $startCol, $colCount, $bgColor);
  @include panel-back-ground($bgImgPath, cover);
  @include centering();
  font-size: $font-size-large;
  color: white;
}

// コンテンツのヘッダ用
@mixin content-header($startRow: 1, $rowCount: 1, $startCol: 1, $colCount: 1, $bgColor: $h-color-green, $bgImgPath: "") {
  @include __panel__($startRow, $rowCount, $startCol, $colCount, $bgColor);
  @include panel-back-ground($bgImgPath, cover);
  @include centering();
  font-size: $font-size-mid;
}

// コンテンツのボディ用
@mixin content-body($startRow: 1, $rowCount: 1, $startCol: 1, $colCount: 1, $bgColor: $h-color-gray-2, $bgImgPath: "", $bgSize: "") {
  @include __panel__($startRow, $rowCount, $startCol, $colCount, $bgColor);
  @include panel-back-ground($bgImgPath, $bgSize);
}

// 上下中央寄せ
@mixin centering() {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

// 袋文字
@mixin fukuromoji($fillColor: white, $strokeColor: white) {
  font-size: $font-size-large;
  fill: $fillColor;
  stroke: $strokeColor;
  stroke-width: 2;
  stroke-linejoin: round;
}

////////// mixIn

////////// 要素
body {
  font-size: $default-font-size;
  font-family: "メイリオ";
  overflow-wrap: break-word;
}

svg {
  display: inline-block;
  width: 250px;
  height: auto;
  overflow: visible;
}

ul {
  margin: 0;
  padding-inline-start: 20px;
  list-style-image: url("../img/irasutoya/computer_jinkou_chinou_li.png");
}
////////// 要素

////////// 本体
// 外側
.wrapper {
  width: $panel_width * $panel-col-count + ($col-gap-size * ($panel-col-count - 1));
  height: $panel_height * $panel-row-count + ($row-gap-size * ($panel-row-count - 1));
  margin: 0 auto;
  padding: 0.3em;
  display: grid;
  background-color: $wrapper_color;
  column-gap: $col-gap-size;
  row-gap: $row-gap-size;
  grid-template-columns: repeat($panel-col-count, $panel_width);
  grid-template-rows: repeat($panel-row-count, $panel_height);
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
}

// 起動アイコン
.launch_icon {
  height: 64px;
  &:hover {
    filter: invert(100%);
  }
}

// グリッド部分
@supports (display: grid) {
  // タイトル
  .header {
    @include page-header($startRow: 1, $rowCount: 2, $startCol: 1, $colCount: $panel-col-count, $bgImgPath: "../img/irasutoya/computer_jinkou_chinou_rad.png");
  }

  // 起動ボタン
  .launch {
    @include content-body($startRow: 3, $rowCount: 5, $startCol: 1, $colCount: 2, $bgColor: $h-color-yellow);
    @include centering();
  }

  // 機能ヘッダ
  .function-header {
    @include content-header($startRow: 3, $rowCount: 1, $startCol: 3, $colCount: 6);
  }

  // 生活
  .life {
    @include content-body($startRow: 4, $rowCount: 4, $startCol: 3, $colCount: 3, $bgImgPath: "../img/irasutoya/ai_study_kikaigakusyu_rad.png", $bgSize: contain);
    @include fukuromoji(gold, chocolate);
    // きたないflex
    display: flex;
    background-position: left;

    &:hover {
      transform-origin: left;
      grid-column: 3 / span 6;
      margin: 0;
      z-index: 2;
    }

    &:hover .life-explain {
      visibility: visible;
    }
  }

  .life-explain {
    width: 300px;
    font-size: $default-font-size;
    margin: 0 0 0 auto;
    text-align: right;
    visibility: hidden;
  }

  // 技術
  .tech {
    @include content-body($startRow: 4, $rowCount: 4, $startCol: 6, $colCount: 3, $bgImgPath: "../img/irasutoya/ai_shigoto_rad.png", $bgSize: contain);
    @include fukuromoji(lightskyblue, mediumblue);
    text-align: right;
    font-size: $font-size-large;
    flex-basis: content;
    background-position: right;

    &:hover {
      transform-origin: right;
      grid-column: 3 / span 6;
      margin: 0;
      z-index: 2;
    }
    &:hover .tech-explain {
      visibility: visible;
    }
  }

  .tech-explain {
    font-size: $default-font-size;
    margin: 0;
    text-align: left;
    visibility: hidden;
  }

  // あまり
  .amari {
    @include content-body($startRow: 3, $rowCount: 5, $startCol: 9, $colCount: 2, $bgColor: $h-color-blue);
  }

  // 注意事項ヘッダ
  .caution-header {
    @include content-header($startRow: 8, $rowCount: 1, $startCol: 1, $colCount: 6);
  }

  // 注意事項
  .caution {
    @include content-body($startRow: 9, $rowCount: 7, $startCol: 1, $colCount: 6);
  }

  // お知らせヘッダ
  .notice-header {
    @include content-header($startRow: 8, $rowCount: 1, $startCol: 7, $colCount: 4);
  }

  // お知らせ
  .notice {
    @include content-body($startRow: 9, $rowCount: 4, $startCol: 7, $colCount: 4);
  }

  // お問合せヘッダ（変な物理名）
  .footer-header {
    @include content-header($startRow: 13, $rowCount: 1, $startCol: 7, $colCount: 4);
  }
  // お問合せアイコン
  .footer-icon {
    @include content-body($startRow: 14, $rowCount: 2, $startCol: 7, $colCount: 1);
    @include centering();
  }
  // お問合せ
  .footer {
    @include content-body($startRow: 14, $rowCount: 2, $startCol: 8, $colCount: 3);
  }
}
////////// 本体

////////// omake
// ふきだし
.balloon3 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 180px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: $font-size-box-header;
  font-weight: bold;
  background: $balloon-color;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon3:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid $balloon-color;
  z-index: 0;
}
////////// omake
