:root {
  --h_color_green: #4aae35;
  --h_color_blue: #009cd3;
  --h_color_yellow: #fbc300;
  --h_color_gray: #e7e7e7;
}

.wrapper {
  width: 1000px;
  height: 550px;
  margin: 0 auto;
  padding: 0.3em;
  display: grid;
  background-color: #e6e6e6;
  border-top: 2px solid white;
  border-right: 2px solid darkslategray;
  border-bottom: 2px solid darkslategray;
  border-left: 2px solid white;
  /* grid関連 */
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 15% 45% 30%;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
}

.launch_icon {
  width: 64px;
}

.item_title {
  position: fixed;
}

.centering {
  /* 上下中央に寄せる */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@supports (display: grid) {
  .grid-item {
    width: auto;
    min-height: 0;
    /* padding: .3em; */
    display: inline-block;
    /*画像はコンテナいっぱいに*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
  }
  .header {
    color: white;
    background-image: url("../img/computer_jinkou_chinou.png");
    font-size: 48px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }
  .main {
    background-color: var(--h_color_green);
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .tech {
    background-color: var(--h_color_yellow);
    clip-path: polygon(0 0, 100% 0, calc(100% - 100px) 100%, 0 100%);
    margin-right: -50px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border-radius: 10px 0 10px 10px;
  }
  .life {
    background-color: var(--h_color_blue);
    clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
    margin-left: -50px;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    border-radius: 10px 10px 10px 0;
    text-align: right;
  }
  .caution {
    top: -1.8em;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .notice {
    top: -1.8em;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  .footer {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }
}

/* ふきだし */

.balloon3 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 200px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #70a6ff;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon3:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #70a6ff;
  z-index: 0;
}

/* インデックス付きはこ */

.box {
  border: 2px solid slategray;
  border-radius: 0 0 10px 10px;
  height: 100%;
  overflow: hidden;
}

h3.box_header {
  background-color: slategray;
  text-align: center;
  color: #FFF;
  margin: 0;
  /* display: inline-block; */
  padding: .3em .5em;
  border-radius: 10px 10px 0 0;
}

.box .inner {
  padding: .5em;
  border-radius: 0 0 10px 10px;
  overflow: auto;
}